---
import type { Project } from "../models/projects";
import { Icon } from "astro-icon";
import TechnologyItem from "./TechnologyItem.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
---

<div
  class="flex flex-col rounded-lg gap-4 p-4 md:h-[600px] bg-transparent transition-all ease-in-out"
>
  <div class="flex flex-col justify-between gap-3">
    <div class="flex flex-col gap-2">
      <!-- Name -->
      <h2 class="text-yellow-200/90 font-semibold md:text-2xl text-xl">
        {project.name}
      </h2>
      <!-- Description -->
      <p class="text-zinc-400 md:text-lg">{project.description}</p>
    </div>

    <!-- Technologies and link -->

    <div class="flex flex-wrap gap-4 p-2">
      {
        project.technologies.map((technology) => (
          <TechnologyItem technology={technology} />
        ))
      }
    </div>
  </div>
  <!-- Project Image -->
  <a
    href={project.link}
    class="w-full relative block rounded-lg md:h-auto h-[200px] overflow-hidden"
  >
    <img
      src={project.imageUrl}
      class="h-full w-full rounded-lg object-cover object-left-top transition-all duration-500 hover:scale-105"
    />
  </a>
</div>
